In [111]:
import pandas as pd
import numpy as np

In [112]:
area=pd.read_csv('행정구역_현황_20201228094146.csv', encoding='euc-kr')
area

,소재지(시군구)별(1),소재지(시군구)별(2),2019,2019.1,2019.2,2019.3,2019.4
0,소재지(시군구)별(1),소재지(시군구)별(2),합계,도시지역,도시지역,비도시지역,비도시지역
1,소재지(시군구)별(1),소재지(시군구)별(2),면적 (㎡),면적 (㎡),비율 (%),면적 (㎡),비율 (%)
2,전국,소계,100401285021,26103627019,26.0,74297658002,74.0
3,서울특별시,소계,605237005,605237005,100.0,-,0.0
4,서울특별시,종로구,23913280,23913280,100.0,0,0.0
...,...,...,...,...,...,...,...
244,경상남도,거창군,803312949,56032980,7.0,747279969,93.0
245,경상남도,합천군,983507159,53034932,5.4,930472227,94.6
246,제주특별자치도,소계,1850227390,1516740242,82.0,333487148,18.0
247,제주특별자치도,제주시,978668959,886042192,90.5,92626767,9.5
248,제주특별자치도,서귀포시,871558431,630698050,72.4,240860381,27.6

In [113]:
new_area=area.drop([area.index[0],area.index[1],area.index[2], area.index[3]])
new_area = new_area[new_area['소재지(시군구)별(2)'] != '소계']
new_area= new_area.reset_index(drop=True)
new_area

    소재지(시군구)별(1) 소재지(시군구)별(2)       2019     2019.1 2019.2     2019.3 2019.4
0          서울특별시          종로구   23913280   23913280  100.0          0    0.0
1          서울특별시           중구    9959983    9959983  100.0          0    0.0
2          서울특별시          용산구   21866384   21866384  100.0          0    0.0
3          서울특별시          성동구   16859343   16859343  100.0          0    0.0
4          서울특별시          광진구   17062949   17062949  100.0          0    0.0
..           ...          ...        ...        ...    ...        ...    ...
224         경상남도          함양군  725485214   69325474    9.6  656159740   90.4
225         경상남도          거창군  803312949   56032980    7.0  747279969   93.0
226         경상남도          합천군  983507159   53034932    5.4  930472227   94.6
227      제주특별자치도          제주시  978668959  886042192   90.5   92626767    9.5
228      제주특별자치도         서귀포시  871558431  630698050   72.4  240860381   27.6

[229 rows x 7 columns]

In [114]:
new_area.columns

Index(['소재지(시군구)별(1)', '소재지(시군구)별(2)', '2019', '2019.1', '2019.2', '2019.3',
       '2019.4'],
      dtype='object')

In [115]:
province_list=[]
for i in new_area['소재지(시군구)별(2)']:
    province_list.append(i)

In [116]:
print(len(province_list))

229

In [117]:
elementary_num=pd.read_excel('초등학교수.xlsx')
elementary_list=[]
for i in elementary_num['행정구역별']:
    i=i.lstrip('\u3000\u3000\u3000')
    elementary_list.append(i)
elementary_num

       행정구역별  2019
0     　　　종로구    13
1      　　　중구    12
2     　　　용산구    15
3     　　　성동구    21
4     　　　광진구    22
..       ...   ...
223   　　　함양군    13
224   　　　거창군    17
225   　　　합천군    17
226   　　　제주시    68
227  　　　서귀포시    45

[228 rows x 2 columns]

In [118]:
for i in elementary_list:
    if '세종' in i:
        print(i)

In [119]:
for i in province_list:
    if i not in elementary_list:
        print(i)

세종특별자치시

In [120]:
new_area[new_area['소재지(시군구)별(2)']=='세종특별자치시']

   소재지(시군구)별(1) 소재지(시군구)별(2)       2019    2019.1 2019.2     2019.3 2019.4
74      세종특별자치시      세종특별자치시  464949680  42166062    9.1  422783618   90.9

In [121]:
new_data={'행정구역별':'세종특별자치시','2019':0}
idx=74
temp1=elementary_num[elementary_num.index <idx]
temp2=elementary_num[elementary_num.index>=idx]
elementary_num = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)
elementary_num

       행정구역별  2019
0     　　　종로구    13
1      　　　중구    12
2     　　　용산구    15
3     　　　성동구    21
4     　　　광진구    22
..       ...   ...
224   　　　함양군    13
225   　　　거창군    17
226   　　　합천군    17
227   　　　제주시    68
228  　　　서귀포시    45

[229 rows x 2 columns]

In [122]:
childcare_num=pd.read_excel('유아 보육시설수.xlsx')
childcare_num=childcare_num.drop(childcare_num.index[0])
childcare_num['행정구역별']

1      　　　종로구
2       　　　중구
3      　　　용산구
4      　　　성동구
5      　　　광진구
        ...
222    　　　하동군
223    　　　산청군
224    　　　함양군
225    　　　거창군
226    　　　합천군
Name: 행정구역별, Length: 226, dtype: object

In [123]:
childcare_num.columns

Index(['행정구역별', '2019'], dtype='object')

In [124]:
for i in childcare_num['행정구역별']:
    if '세종' in i:
        print(i)

In [125]:
new_data={'행정구역별':'세종특별자치시','2019':0}
idx=74
temp1=childcare_num[childcare_num.index <idx]
temp2=childcare_num[childcare_num.index>=idx]
childcare_num = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)

In [126]:
jeju={'행정구역별':'제주시', '2019':0}
seoguipo={'행정구역별':'서귀포시', '2019':0}

childcare_num

      행정구역별 2019
0    　　　종로구   77
1     　　　중구   69
2    　　　용산구  119
3    　　　성동구  179
4    　　　광진구  188
..      ...  ...
222  　　　하동군   15
223  　　　산청군   12
224  　　　함양군   12
225  　　　거창군   30
226  　　　합천군   10

[227 rows x 2 columns]

In [127]:
childcare_num=childcare_num.append(jeju, ignore_index=True)

In [128]:
childcare_num

      행정구역별 2019
0    　　　종로구   77
1     　　　중구   69
2    　　　용산구  119
3    　　　성동구  179
4    　　　광진구  188
..      ...  ...
223  　　　산청군   12
224  　　　함양군   12
225  　　　거창군   30
226  　　　합천군   10
227     제주시    0

[228 rows x 2 columns]

In [129]:
childcare_num=childcare_num.append(seoguipo, ignore_index=True)
childcare_num

      행정구역별 2019
0    　　　종로구   77
1     　　　중구   69
2    　　　용산구  119
3    　　　성동구  179
4    　　　광진구  188
..      ...  ...
224  　　　함양군   12
225  　　　거창군   30
226  　　　합천군   10
227     제주시    0
228    서귀포시    0

[229 rows x 2 columns]

In [130]:
kindergarten=pd.read_csv('num_kindergarten.csv', encoding='euc-kr')
kindergarten

    행정구역별  2019
0     종로구    17
1      중구    14
2     용산구    13
3     성동구    30
4     광진구    33
..    ...   ...
223   함양군    12
224   거창군    16
225   합천군    15
226   제주시    79
227  서귀포시    44

[228 rows x 2 columns]

In [131]:
new_data={'행정구역별':'세종특별자치시','2019':0}
idx=74
temp1=kindergarten[kindergarten.index <idx]
temp2=kindergarten[kindergarten.index>=idx]
kindergarten = temp1.append(new_data,ignore_index=True).append(temp2, ignore_index=True)
kindergarten

    행정구역별  2019
0     종로구    17
1      중구    14
2     용산구    13
3     성동구    30
4     광진구    33
..    ...   ...
224   함양군    12
225   거창군    16
226   합천군    15
227   제주시    79
228  서귀포시    44

[229 rows x 2 columns]

In [142]:
kindergarten_num_result=kindergarten['2019']
elementary_num_result=elementary_num['2019']
childcare_num_result=childcare_num['2019']

In [146]:
added_num =kindergarten_num_result+elementary_num_result+childcare_num_result
added_num
added_num.rename("added_num")
added_num.name = 'added_num'

In [147]:
full_df=pd.concat([new_area,added_num],axis=1)
full_df

,소재지(시군구)별(1),소재지(시군구)별(2),2019,2019.1,2019.2,2019.3,2019.4,added_num
0,서울특별시,종로구,23913280,23913280,100.0,0,0.0,107
1,서울특별시,중구,9959983,9959983,100.0,0,0.0,95
2,서울특별시,용산구,21866384,21866384,100.0,0,0.0,147
3,서울특별시,성동구,16859343,16859343,100.0,0,0.0,230
4,서울특별시,광진구,17062949,17062949,100.0,0,0.0,243
...,...,...,...,...,...,...,...,...
224,경상남도,함양군,725485214,69325474,9.6,656159740,90.4,37
225,경상남도,거창군,803312949,56032980,7.0,747279969,93.0,63
226,경상남도,합천군,983507159,53034932,5.4,930472227,94.6,42
227,제주특별자치도,제주시,978668959,886042192,90.5,92626767,9.5,147
228,제주특별자치도,서귀포시,871558431,630698050,72.4,240860381,27.6,89

In [153]:
for i in full_df['added_num']:
    i=int(i)
full_df['added_num']

0      107
1       95
2      147
3      230
4      243
      ...
224     37
225     63
226     42
227    147
228     89
Name: added_num, Length: 229, dtype: object

In [164]:
int_area=[]
for i in full_df['2019']:
    i=int(i)
    int_area.append(i)
full_df['int_area']=int_area
full_df['child_density']=full_df['added_num']/full_df['int_area']
full_df['child_density']

0       4.4745e-06
1      9.53817e-06
2      6.72265e-06
3      1.36423e-05
4      1.42414e-05
          ...
224    5.10004e-08
225    7.84252e-08
226    4.27043e-08
227    1.50204e-07
228    1.02116e-07
Name: child_density, Length: 229, dtype: object

In [162]:
full_df

,소재지(시군구)별(1),소재지(시군구)별(2),2019,2019.1,2019.2,2019.3,2019.4,added_num,int_area,child_density
0,서울특별시,종로구,23913280,23913280,100.0,0,0.0,107,23913280,4.4745e-06
1,서울특별시,중구,9959983,9959983,100.0,0,0.0,95,9959983,9.53817e-06
2,서울특별시,용산구,21866384,21866384,100.0,0,0.0,147,21866384,6.72265e-06
3,서울특별시,성동구,16859343,16859343,100.0,0,0.0,230,16859343,1.36423e-05
4,서울특별시,광진구,17062949,17062949,100.0,0,0.0,243,17062949,1.42414e-05
...,...,...,...,...,...,...,...,...,...,...
224,경상남도,함양군,725485214,69325474,9.6,656159740,90.4,37,725485214,5.10004e-08
225,경상남도,거창군,803312949,56032980,7.0,747279969,93.0,63,803312949,7.84252e-08
226,경상남도,합천군,983507159,53034932,5.4,930472227,94.6,42,983507159,4.27043e-08
227,제주특별자치도,제주시,978668959,886042192,90.5,92626767,9.5,147,978668959,1.50204e-07
228,제주특별자치도,서귀포시,871558431,630698050,72.4,240860381,27.6,89,871558431,1.02116e-07

In [165]:
full_df2=full_df[['소재지(시군구)별(2)','int_area','child_density']]
full_df2

    소재지(시군구)별(2)   int_area child_density
0            종로구   23913280    4.4745e-06
1             중구    9959983   9.53817e-06
2            용산구   21866384   6.72265e-06
3            성동구   16859343   1.36423e-05
4            광진구   17062949   1.42414e-05
..           ...        ...           ...
224          함양군  725485214   5.10004e-08
225          거창군  803312949   7.84252e-08
226          합천군  983507159   4.27043e-08
227          제주시  978668959   1.50204e-07
228         서귀포시  871558431   1.02116e-07

[229 rows x 3 columns]

In [ ]:
full_df2['']

In [167]:
q1=full_df2['child_density'].quantile(q=0.25)
q3=full_df2['child_density'].quantile(q=0.75)

qr=q3-q1
qr

4.77808090266811e-06

In [170]:
df_IQR = full_df2[ (full_df2['child_density'] < q3 + qr * 1.5) & (full_df2['child_density'] > q1 - qr * 1.5) ]  

df_IQR

    소재지(시군구)별(2)   int_area child_density
0            종로구   23913280    4.4745e-06
1             중구    9959983   9.53817e-06
2            용산구   21866384   6.72265e-06
8            강북구   23600102   7.96607e-06
11           은평구   29711421   1.13761e-05
..           ...        ...           ...
224          함양군  725485214   5.10004e-08
225          거창군  803312949   7.84252e-08
226          합천군  983507159   4.27043e-08
227          제주시  978668959   1.50204e-07
228         서귀포시  871558431   1.02116e-07

[209 rows x 3 columns]

In [222]:
pop_density=pd.read_excel('인구밀도_df.xlsx')
pop_density

    Unnamed: 0      면적(m2)    15세 미만      인구밀도
0      강원도 강릉시  1040783864   23182.0  0.022274
1      강원도 고성군   660707506    2124.5  0.003215
2      강원도 동해시   180201980   11316.5  0.062799
3      강원도 삼척시  1187839038    6617.5  0.005571
4      강원도 속초시   105760448    9442.5  0.089282
..         ...         ...       ...       ...
210   충청북도 제천시   883422112   15089.5  0.017081
211   충청북도 증평군    81797648    5381.0  0.065784
212   충청북도 진천군   407303348   11546.5  0.028349
213   충청북도 청주시   940844524  119708.0  0.127235
214   충청북도 충주시   983477555   24540.5  0.024953

[215 rows x 4 columns]

In [223]:
pop_density[pop_density['Unnamed: 0']=='경기도 오산시']

   Unnamed: 0    면적(m2)   15세 미만      인구밀도
39    경기도 오산시  42707724  38283.0  0.896395

In [224]:
pop_density['인구밀도'].mean()

0.4354709064383836

In [225]:
pop_q1=pop_density['인구밀도'].quantile(q=0.25)
pop_q3=pop_density['인구밀도'].quantile(q=0.75)

pop_qr=pop_q3-pop_q1
pop_qr

0.6308791260130395

In [226]:
pop_IQR = pop_density[ (pop_density['인구밀도'] < pop_q3) & (pop_density['인구밀도'] > pop_q1) ]  

pop_IQR

    Unnamed: 0      면적(m2)    15세 미만      인구밀도
0      강원도 강릉시  1040783864   23182.0  0.022274
2      강원도 동해시   180201980   11316.5  0.062799
4      강원도 속초시   105760448    9442.5  0.089282
8      강원도 원주시   868240238   46081.5  0.053075
12     강원도 춘천시  1116373900   35253.0  0.031578
..         ...         ...       ...       ...
210   충청북도 제천시   883422112   15089.5  0.017081
211   충청북도 증평군    81797648    5381.0  0.065784
212   충청북도 진천군   407303348   11546.5  0.028349
213   충청북도 청주시   940844524  119708.0  0.127235
214   충청북도 충주시   983477555   24540.5  0.024953

[107 rows x 4 columns]

In [247]:
abc=pd.read_excel('서울시 어린이 시설 비율.xlsx')
abc

,Unnamed: 0,region,elementary,nursey,kindergarten,total,area,per_facility
0,0,종로구,13,77,17,107,23913280,0.044745
1,1,중구,12,69,14,95,9959983,0.095382
2,2,용산구,15,119,13,147,21866384,0.067226
3,3,성동구,21,179,30,230,16859343,0.136423
4,4,광진구,22,188,33,243,17062949,0.142414
5,5,동대문구,21,215,31,267,14215360,0.187825
6,6,중랑구,23,230,31,284,18496071,0.153546
7,7,성북구,29,267,49,345,24574349,0.140390
8,8,강북구,14,153,21,188,23600102,0.079661
9,9,도봉구,23,229,26,278,20660965,0.134553
10,10,노원구,42,405,66,513,35437538,0.144762
11,11,은평구,31,263,44,338,29711421,0.113761
12,12,서대문구,19,149,25,193,17625638,0.109500
13,13,마포구,22,209,24,255,23851343,0.106912
14,14,양천구,30,299,43,372,17405710,0.213723
15,15,강서구,36,409,56,501,41436853,0.120907
16,16,구로구,26,318,34,378,20120106,0.187872
17,17,금천구,18,157,19,194,13020260,0.148999
18,18,영등포구,23,248,39,310,24548520,0.126281
19,19,동작구,21,219,34,274,16354618,0.167537
20,20,관악구,22,251,33,306,29568929,0.103487
21,21,서초구,24,189,27,240,46983285,0.051082
22,22,강남구,33,201,38,272,39501013,0.068859
23,23,송파구,40,395,51,486,33872729,0.143478
24,24,강동구,27,260,32,319,24590256,0.129726

In [248]:
accident_num=pd.read_excel('연령별 교통사고 사상자.xls')
accident_num

,시군구,합계,14세이하,15-20세,21-30세,31-40세,41-50세,51-60세,61-64세,65-70세,71세이상,불명
0,합계,10320.0,759.0,543.0,1837.0,1263.0,1280.0,1717.0,693.0,799.0,1428.0,1.0
1,종로구,319.0,9.0,7.0,74.0,47.0,47.0,47.0,30.0,12.0,46.0,0.0
2,중구,299.0,8.0,8.0,53.0,46.0,55.0,60.0,21.0,16.0,32.0,0.0
3,용산구,270.0,14.0,15.0,75.0,37.0,24.0,45.0,19.0,15.0,26.0,0.0
4,성동구,227.0,19.0,13.0,31.0,26.0,28.0,41.0,14.0,9.0,46.0,0.0
5,동대문구,446.0,21.0,25.0,65.0,30.0,55.0,95.0,21.0,34.0,100.0,0.0
6,성북구,419.0,32.0,25.0,65.0,38.0,43.0,62.0,25.0,37.0,92.0,0.0
7,도봉구,283.0,26.0,20.0,18.0,18.0,32.0,56.0,21.0,25.0,67.0,0.0
8,은평구,380.0,35.0,14.0,42.0,35.0,58.0,58.0,24.0,37.0,77.0,0.0
9,서대문구,334.0,24.0,23.0,66.0,48.0,24.0,47.0,19.0,32.0,51.0,0.0
10,마포구,381.0,16.0,27.0,133.0,44.0,32.0,49.0,21.0,19.0,40.0,0.0
11,강서구,482.0,45.0,23.0,73.0,50.0,55.0,97.0,34.0,43.0,62.0,0.0
12,구로구,421.0,47.0,17.0,54.0,47.0,57.0,77.0,32.0,25.0,65.0,0.0
13,영등포구,598.0,43.0,18.0,101.0,76.0,82.0,106.0,43.0,59.0,70.0,0.0
14,동작구,437.0,24.0,23.0,95.0,54.0,50.0,65.0,33.0,29.0,64.0,0.0
15,관악구,361.0,19.0,10.0,71.0,52.0,36.0,49.0,30.0,30.0,63.0,1.0
16,강남구,860.0,55.0,58.0,220.0,178.0,122.0,97.0,43.0,40.0,47.0,0.0
17,강동구,454.0,38.0,15.0,58.0,42.0,59.0,86.0,35.0,44.0,77.0,0.0
18,송파구,621.0,67.0,31.0,118.0,85.0,76.0,95.0,33.0,53.0,63.0,0.0
19,서초구,468.0,30.0,33.0,115.0,76.0,64.0,62.0,24.0,30.0,34.0,0.0
20,양천구,384.0,44.0,29.0,41.0,33.0,39.0,77.0,27.0,41.0,53.0,0.0
21,중랑구,486.0,34.0,26.0,54.0,38.0,65.0,111.0,36.0,56.0,66.0,0.0
22,노원구,437.0,30.0,38.0,69.0,48.0,46.0,58.0,35.0,39.0,74.0,0.0
23,광진구,267.0,30.0,13.0,62.0,30.0,37.0,35.0,18.0,13.0,29.0,0.0
24,강북구,416.0,29.0,19.0,51.0,47.0,61.0,83.0,31.0,39.0,56.0,0.0
25,금천구,270.0,20.0,13.0,33.0,38.0,33.0,59.0,24.0,22.0,28.0,0.0
26,출처) 도로교통공단.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
death_num=pd.read_excel('연령별 교통사고 사망자.xls')
accident_total=accident_num['14세이하']+death_num['14세이하']
accident_total

0     762.0
1       9.0
2       8.0
3      14.0
4      19.0
5      21.0
6      32.0
7      26.0
8      35.0
9      24.0
10     16.0
11     46.0
12     47.0
13     43.0
14     24.0
15     19.0
16     55.0
17     38.0
18     67.0
19     30.0
20     46.0
21     34.0
22     30.0
23     30.0
24     29.0
25     20.0
26      NaN
Name: 14세이하, dtype: float64

In [274]:
accident_total2=accident_total[1:26]
accident_total2=accident_total2.reset_index()

In [275]:
accident_total2=accident_total2['14세이하']

In [276]:
accident_total2

0      9.0
1      8.0
2     14.0
3     19.0
4     21.0
5     32.0
6     26.0
7     35.0
8     24.0
9     16.0
10    46.0
11    47.0
12    43.0
13    24.0
14    19.0
15    55.0
16    38.0
17    67.0
18    30.0
19    46.0
20    34.0
21    30.0
22    30.0
23    29.0
24    20.0
Name: 14세이하, dtype: float64

In [277]:
seoul_density=pd.read_excel('서울시_인구밀도.xlsx')
seoul_density

       구    면적(m2)  15세미만인구      인구밀도
0    종로구  23913280  13592.0  0.568387
1     중구   9959983  10662.5  1.070534
2    용산구  21866384  21699.0  0.992345
3    성동구  16859343  32347.0  1.918639
4    광진구  17062949  34945.5  2.048034
5   동대문구  14215360  33819.5  2.379082
6    중랑구  18496071  38240.0  2.067466
7    성북구  24574349  48882.0  1.989147
8    강북구  23600102  28635.0  1.213342
9    도봉구  20660965  33678.5  1.630055
10   노원구  35437538  62119.0  1.752915
11   은평구  29711421  50927.5  1.714072
12  서대문구  17625638  31656.0  1.796020
13   마포구  23851343  41157.0  1.725563
14   양천구  17405710  58571.0  3.365045
15   강서구  41436853  67223.5  1.622312
16   구로구  20120106  45649.5  2.268850
17   금천구  13020260  21175.0  1.626312
18  영등포구  24548520  37166.5  1.514002
19   동작구  16354618  40604.5  2.482754
20   관악구  29568929  39656.5  1.341154
21   서초구  46983285  59134.0  1.258618
22   강남구  39501013  66444.0  1.682083
23   송파구  33872729  82324.0  2.430392
24   강동구  24590256  49516.5  2.013663

In [278]:
seoul_density['사고통계']=accident_total2
seoul_density

       구    면적(m2)  15세미만인구      인구밀도  사고통계
0    종로구  23913280  13592.0  0.568387   9.0
1     중구   9959983  10662.5  1.070534   8.0
2    용산구  21866384  21699.0  0.992345  14.0
3    성동구  16859343  32347.0  1.918639  19.0
4    광진구  17062949  34945.5  2.048034  21.0
5   동대문구  14215360  33819.5  2.379082  32.0
6    중랑구  18496071  38240.0  2.067466  26.0
7    성북구  24574349  48882.0  1.989147  35.0
8    강북구  23600102  28635.0  1.213342  24.0
9    도봉구  20660965  33678.5  1.630055  16.0
10   노원구  35437538  62119.0  1.752915  46.0
11   은평구  29711421  50927.5  1.714072  47.0
12  서대문구  17625638  31656.0  1.796020  43.0
13   마포구  23851343  41157.0  1.725563  24.0
14   양천구  17405710  58571.0  3.365045  19.0
15   강서구  41436853  67223.5  1.622312  55.0
16   구로구  20120106  45649.5  2.268850  38.0
17   금천구  13020260  21175.0  1.626312  67.0
18  영등포구  24548520  37166.5  1.514002  30.0
19   동작구  16354618  40604.5  2.482754  46.0
20   관악구  29568929  39656.5  1.341154  34.0
21   서초구  46983285  59134.0  1.258618  30.0
22   강남구  39501013  66444.0  1.682083  30.0
23   송파구  33872729  82324.0  2.430392  29.0
24   강동구  24590256  49516.5  2.013663  20.0

In [279]:
seoul_density['사고비율(인구)']=seoul_density['사고통계']/seoul_density['15세미만인구']
seoul_density

       구    면적(m2)  15세미만인구      인구밀도  사고통계  사고비율(인구)
0    종로구  23913280  13592.0  0.568387   9.0  0.000662
1     중구   9959983  10662.5  1.070534   8.0  0.000750
2    용산구  21866384  21699.0  0.992345  14.0  0.000645
3    성동구  16859343  32347.0  1.918639  19.0  0.000587
4    광진구  17062949  34945.5  2.048034  21.0  0.000601
5   동대문구  14215360  33819.5  2.379082  32.0  0.000946
6    중랑구  18496071  38240.0  2.067466  26.0  0.000680
7    성북구  24574349  48882.0  1.989147  35.0  0.000716
8    강북구  23600102  28635.0  1.213342  24.0  0.000838
9    도봉구  20660965  33678.5  1.630055  16.0  0.000475
10   노원구  35437538  62119.0  1.752915  46.0  0.000741
11   은평구  29711421  50927.5  1.714072  47.0  0.000923
12  서대문구  17625638  31656.0  1.796020  43.0  0.001358
13   마포구  23851343  41157.0  1.725563  24.0  0.000583
14   양천구  17405710  58571.0  3.365045  19.0  0.000324
15   강서구  41436853  67223.5  1.622312  55.0  0.000818
16   구로구  20120106  45649.5  2.268850  38.0  0.000832
17   금천구  13020260  21175.0  1.626312  67.0  0.003164
18  영등포구  24548520  37166.5  1.514002  30.0  0.000807
19   동작구  16354618  40604.5  2.482754  46.0  0.001133
20   관악구  29568929  39656.5  1.341154  34.0  0.000857
21   서초구  46983285  59134.0  1.258618  30.0  0.000507
22   강남구  39501013  66444.0  1.682083  30.0  0.000452
23   송파구  33872729  82324.0  2.430392  29.0  0.000352
24   강동구  24590256  49516.5  2.013663  20.0  0.000404

In [280]:
seoul_density.to_csv("사고통계.csv", mode='w')

In [281]:
abc=pd.read_csv('사고통계.csv')
abc

    Unnamed: 0     구    면적(m2)  15세미만인구      인구밀도  사고통계  사고비율(인구)
0            0   종로구  23913280  13592.0  0.568387   9.0  0.000662
1            1    중구   9959983  10662.5  1.070534   8.0  0.000750
2            2   용산구  21866384  21699.0  0.992345  14.0  0.000645
3            3   성동구  16859343  32347.0  1.918639  19.0  0.000587
4            4   광진구  17062949  34945.5  2.048034  21.0  0.000601
5            5  동대문구  14215360  33819.5  2.379082  32.0  0.000946
6            6   중랑구  18496071  38240.0  2.067466  26.0  0.000680
7            7   성북구  24574349  48882.0  1.989147  35.0  0.000716
8            8   강북구  23600102  28635.0  1.213342  24.0  0.000838
9            9   도봉구  20660965  33678.5  1.630055  16.0  0.000475
10          10   노원구  35437538  62119.0  1.752915  46.0  0.000741
11          11   은평구  29711421  50927.5  1.714072  47.0  0.000923
12          12  서대문구  17625638  31656.0  1.796020  43.0  0.001358
13          13   마포구  23851343  41157.0  1.725563  24.0  0.000583
14          14   양천구  17405710  58571.0  3.365045  19.0  0.000324
15          15   강서구  41436853  67223.5  1.622312  55.0  0.000818
16          16   구로구  20120106  45649.5  2.268850  38.0  0.000832
17          17   금천구  13020260  21175.0  1.626312  67.0  0.003164
18          18  영등포구  24548520  37166.5  1.514002  30.0  0.000807
19          19   동작구  16354618  40604.5  2.482754  46.0  0.001133
20          20   관악구  29568929  39656.5  1.341154  34.0  0.000857
21          21   서초구  46983285  59134.0  1.258618  30.0  0.000507
22          22   강남구  39501013  66444.0  1.682083  30.0  0.000452
23          23   송파구  33872729  82324.0  2.430392  29.0  0.000352
24          24   강동구  24590256  49516.5  2.013663  20.0  0.000404

In [ ]:
산전도 동그라미 크게 동그라미에 annotation
지도 시각화